a {
  color: #00B7FF;
}

.content {
	width: 800px;
	margin: 0 auto;
	border-radius: 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid black;
	-webkit-box-shadow: 10px 10px 5px -4px rgba(140,108,140,1);
	-moz-box-shadow: 10px 10px 5px -4px rgba(140,108,140,1);
	box-shadow: 10px 10px 5px -4px rgba(140,108,140,1);
}

.root {
  width: 700px;
  margin: 0 auto;
}
.input-group {
  margin-bottom: 15px;
}

.text-center {
	text-align: center;
}

div.text-center {
	margin-bottom: 15px;
}